
.y-wrap{
  display: flex;
  justify-content: center;
}
Header{
  background-color: cadetblue;
  padding: 20px;
}
Header a{
  color: white;
}
.countryBox{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: space-between;
  text-align: left;

}
.countryBox > div{
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.Countries .inputs{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.Countries .inputs input{
  padding: 10px;
  border: none;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}
.Countries .search-input{
  display: flex;
}
.Countries .inputs button{
  height: 100%;
  padding: 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
.Countries select{
  height: 100%;
  padding: 10px 20px;
  border: none;
  background-color: cadetblue;
  color: white;
  border-radius: 10px 10px 10px 10px;
}
.countryBox img{
  max-height: 100px;
}
.countryBox h4{
  text-align: left;
  margin: 10px 0px;
}
.countryBox .borders{
  display: flex;
  gap: 10px;
}
.countryBox h3{
  margin: 10px 0px;
}

nav{
  display: flex;
  gap: 10px
}
nav a{
  text-decoration: none;
  font-weight: bold;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row{
  display: flex;
  font-size: 40px;
}
.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Question{
  background-color: gray;
  color: white;
  padding: 10px;
}
.bannerWrapper{
  height: 100vh;
  width: 100vw;
  /*margin: 0 auto;*/
  background-size: contain;
  background-position: center;

  background-repeat: no-repeat;
  color: white;
}
.banner{

  width: 50%;
}
.bottom{
  position: absolute;
  left: 0;
  bottom: 50px;
}


.Countries {
    background-image: url("./Images/fullmap.jpeg");
    min-height: 100vh;



   /* Center and scale the image nicely */



}