.app{
background-color: #FFFFF7;
}
body{
  font-family: sans-serif;;
}

.y-wrap{
  display: flex;
  justify-content: center;
}
Header{
  background-color: cadetblue;
  padding: 20px;
  height: 5vh;
}

Header a{
  color: white;
}

Footer{
  background-color: cadetblue;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
 
}
footer > div{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
footer img{
  width: 50px;
}

.countryBox{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: space-between;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .countryBox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.countryBox > div{
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
@media screen and (max-width: 600px) {
  .countryBox > div{
    width: 80%;
  }
}
.countryBox img{
  width: 100%;
}

.Countries .inputs{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.Countries .inputs input{
  padding: 10px;
  border: none;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}
.Countries .search-input{
  display: flex;
}
.Countries .inputs button{
  height: 100%;
  padding: 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
.Countries select{
  height: 100%;
  padding: 10px 20px;
  border: none;
  background-color: cadetblue;
  color: white;
  border-radius: 10px 10px 10px 10px;
}
.countryBox img{
  max-height: 100px;
}
.countryBox h4{
  text-align: left;
  margin: 10px 0px;
}
.countryBox .borders{
  display: flex;
  gap: 10px;
}
.countryBox h3{
  margin: 10px 0px;
}

nav{
  display: flex;
  gap: 10px
}
nav a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row{
  display: flex;
  font-size: 40px;
}
.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Question{
 background-color: cadetblue;
  color: white;
  padding: 10px;

}
/*if element is empty do this*/
.Question:empty{
  padding: 0px;;
}

.Question div, .gameOverButtons{
  display: flex;
  gap: 10px;
  margin-top: 10px;

}

.gameOverScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gameOverScreen img{
  max-width: 900px;
}
.quizpg{
  min-height: 80vh;
}
.quizpg h3{
  font-size: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 10px;

}
.quizpg h3 img{
  max-width: 100px;
}
.bannerWrapper{
  min-height: 90vh;
  width: 100vw;
  /*margin: 0 auto;*/
  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bannerWrapper img{
  max-width: 900px;
}
.banner{

  width: 50%;
}
.bottom{

  font-weight: bold;
  color: #A0615F;
  padding: 20px;
  background-color: #FFFFF7;
  max-width: 900px;
  text-align: center;
}
.bottom > div{
  line-height: 25px;
}


.Countries {
    background-image: url("./Images/fullmap.jpeg");
    min-height: 100vh;
    opacity: 0.8;
}

.linkcontainer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;

}
a, .btn{
  font-size: 13px;
  height: 100%;
  padding: 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-weight: 400;
  border-radius: 0px 10px 10px 0px;
  
}

.quizpg{
  background-color:#FFFFF7;;
}